<template lang="html">
  <div class="ui feed vivify fadeIn">
		<div class="event" v-if="comment">
			
			<!-- AVATAR -->
			<div class="label">
				<avatar :username="comment.userName" :size="30" background-color="#CCC" color="#FFF" />
			</div> <!-- /.label -->
			
			<!-- CONTENIDO -->
			<div class="content">
				<div class="summary">
					<div class="link">
						{{ firstName }}						
					</div>
					<div class="comment">
						{{ comment.content }}
					</div> <!-- /.comment -->
				</div> <!-- /.summary -->
				<div class="date">
					{{ comment.timestamp | moment("from", "now") }}
				</div> <!-- /.date -->
			</div> <!-- /.content -->

		</div> <!-- /.event -->
	</div> <!-- /.ui.feed -->
</template>

<script>
	import Avatar from 'vue-avatar'

	export default {
		name: 'Comment',
		components: {
      Avatar
    },
		props: {
			comment: {
				type: Object,
				default: () => {
					return null
				}
			}
		},
		computed: {
			firstName () {
				if (this.comment) {
					return this.comment.userName.split(' ')[0]
				}
			}
		},
		methods: {
		}
  }
</script>

<style scoped="true">
	/* AVATAR */
	.ui.feed > .event > .label {
		width: 60px;
		padding: 8px 5px;
	}

	/* CONTENIDO */
	.summary {
		display: flex;
	}
	.summary .comment {
		margin-left: 15px;
		font-weight: normal;
		height: 20px;
		max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
	.ui.feed > .event > .content .date {
		margin: 0;
		font-size: .9rem;
		text-transform: capitalize;
	}
	/* Responsive */
	@media (max-width: 767px) {
		.ui.feed > .event > .label {
			width: 30px;
		}
		.summary .comment {
			max-width: 180px;
		}
	}
	/* Large phone screens */
  @media (max-width: 600px) {
		.summary .comment {
			max-width: 220px;
		}
  }
	/* Medium phone screens */
	@media (max-width: 450px) {
		.summary .comment {
			max-width: 220px;
		}
	}
	/* Small phone screens */
	@media (max-width: 350px) {
		.summary .comment {
			max-width: 150px;
		}
  }
</style>
