<template lang="html">
  <div :class="newPost ? 'ui fluid card': ''">
		<!-- CONTENIDO -->
		<div class="content">
			<div v-if="newPost && !statusEnabled" class="status-trigger link" @click="statusEnabled = true">
				Escribe aquí tu estado
			</div> <!-- /.status-trigger -->
			<div v-else class="ui form">
				<div :class="['field', validateStatus ? 'error' : '']">
					<textarea id="new-status" v-model="newComment" :rows="rows" :class="[validateStatus ? '' : '', newPost ? '': 'new-comment']" tabindex="1" :placeholder="newPost ? 'Nuevo estado' : 'Escribe un comentario'" />
					<div v-show="percentage < 50" class="characters-validation vivify popIn" :style="colorValidation">
						<!-- <i class="edit icon" /> -->
						{{ charactersValidation }}
					</div> <!-- /.characters-validation -->
				</div> <!-- /.field -->
			</div> <!-- /.ui.form -->
		</div> <!-- /.content -->

		<!-- ACCIONES -->
		<div class="extra content right aligned">
			<!-- v-show para prevenir cargue al inicio -->
			<button v-show="newComment || !newPost" :class="['ui black button vivify', newPost ? 'popIn' : '', sending ? 'disabled' : '']" @click="cancelPost()">
				Cancelar
			</button>
			<button :class="['ui green button', newComment && !validateStatus ? '' : 'disabled', sending ? 'loading' : '']" @click="post()">
				{{ newPost ? 'Publicar' : 'Comentar' }}
			</button>
		</div> <!-- /.extra.content -->
	</div> <!-- /.ui.card -->
</template>

<script>
  import { mapGetters } from 'vuex'

	export default {
		name: 'StatusCard',
		props: {
			newPost: {
				type: Boolean,
				default: false
			},
			path: {
				type: String,
				default: ''
			}
		},
    data () {
			return {
				statusEnabled: false,
				newComment: '',
				maxCharacters: 300,
				validateStatus: false,
				sending: false
			}
		},
		computed: {
			...mapGetters({
        user: 'user',
      }),
			rows () {
				// Ajustar altura de filas según contenido y si es nuevo Post
				return this.newComment && this.newPost ? 4 : 1
			},
			charactersValidation () {
				return this.maxCharacters - this.newComment.length
			},
			percentage () {
				return this.charactersValidation * 100 / this.maxCharacters
			},
			colorValidation () {
				switch (true) {
					case this.percentage >= 30:
						return 'color: #00B786'
						break

					case this.percentage >= 0 && this.percentage < 30:
						return 'color: #E7A800'
						break
					
					case this.percentage < 0:
						return 'color: #C23F3C'
						break	
				}
			},
		},
		watch: {
			newComment () {
				// Resetear estado de validación
				this.newComment ? this.validateStatus = false : ''
				// Validar caracteres
				if (this.newComment.length > this.maxCharacters) {
					this.validateStatus = true
				}
			},
			statusEnabled () {
				// Focus en textarea
				setTimeout(() => document.getElementById('new-status').focus(), 200)
			}
		},
		methods: {
			cancelPost () {
				this.statusEnabled = this.sending = false
				this.newComment = ''
				// Si no es nueva publicación, emitir evento a padre PostCard
				!this.newPost ? this.$emit('cancelPost') : ''
			},
			post () {
				if (this.newComment && this.percentage >= 0) {
					this.sending = true
					// Organizar objeto publicación
					const objectPost = {
						content: this.newComment,
						timestamp: this.$moment().format('YYYY-MM-DD HH:mm'),
						userId: this.user ? this.user.document : '',
						userName: this.user ? `${this.user.firstName} ${this.user.lastName}` : '',
					}
					// Incluir atributos si es una nueva publicación (No comentario)
					if (this.newPost) {
						objectPost.reactions = {
							dislike: 0,
							like: 0,
							love: 0
						}
						objectPost.replies = false
					}
					// Envío a DB
					this.$store.dispatch('newPost', { path: this.path, object: objectPost })
					this.cancelPost()
				} else {
					this.validateStatus = true
				}
			}
		}
  }
</script>

<style scoped="true">
	.ui.card {
		border-radius: 2px;
	}
	.status-trigger {
		margin: 5px;
		padding: 5px;
		transition: background-color .5s;
	}
	.status-trigger:hover {
		background-color: #F6F6F6;
	}
	textarea {
		resize: none;
	}
	textarea:not(.new-comment) {
		border: none !important;
	}
	textarea.new-comment,
	textarea.new-comment:focus {
		padding: 20px;
		margin: 0 0 15px 0;
		border-radius: 2px;
	}
	.field {
		position: relative;
	}
	.characters-validation {
		position: absolute;
		z-index: 1;
		bottom: -4px;
		right: 	-4px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		box-shadow: 0 0 5px -2px #000;
		background-color: #EEE;
		text-align: center;
		line-height: 30px;
	}
	/* Responsive */
	@media (max-width: 767px) {
		.ui.button {
			width: calc(50% - 6px);
		}
	}
</style>
