<template lang="html">
  <div class="ui fluid card vivify fadeIn">
		<!-- POST -->
		<div class="content" v-if="item">
			<div class="ui feed">
				<div class="event">
					
					<!-- AVATAR -->
					<div class="label">
						<avatar :username="item.userName" :size="40" />
					</div> <!-- /.label -->
					
					<!-- CONTENIDO -->
					<div class="content">
						<div class="summary user-name link">
							{{ item.userName }}
						</div> <!-- /.summary -->
						<div class="date">
							{{ item.timestamp | moment("from", "now") }}
						</div> <!-- /.date -->
						<div class="extra text">
							{{ item.content }}
						</div> <!-- /.extra.text -->
						
						<!-- ACCIONES DESKTOP -->
						<div class="wrap-actions desktop">
							<div :class="['link', enableReact ? 'active' : '']" @click="enableReact = !enableReact">
								<react v-if="enableReact" :id="item.id" :reactions="item.reactions" class="vivify fadeIn" />
								<div v-else class="reactions-trigger vivify fadeIn">
									Reaccionar
								</div> <!-- /.reactions-trigger -->
							</div> <!-- /.link -->
							<div class="link" @click="enableComment = !enableComment">
								Comentar
							</div> <!-- /.link -->
						</div> <!-- /.wrap-actions -->
					</div> <!-- /.content -->

				</div> <!-- /.event -->
			</div> <!-- /.ui.feed -->
		</div> <!-- /.content -->

		<!-- ESTADISTICAS -->
		<div class="extra content statistics">
			<reactions :reactions="item.reactions" />
			<div class="replies-counter">
				{{ finalReplies }}
			</div> <!-- /.replies-counter -->
		</div> <!-- /.extra.content -->

		<!-- ACCIONES MOBILE -->
		<div class="wrap-actions extra content mobile">
			<div :class="['link', enableReact ? 'active' : '']" @click="enableReact = !enableReact">
				<react v-if="enableReact" :id="item.id" :reactions="item.reactions" class="vivify fadeIn" />
				<div v-else class="reactions-trigger vivify fadeIn">
					Reaccionar
				</div> <!-- /.reactions-trigger -->
			</div> <!-- /.link -->
			<div class="link" @click="enableComment = !enableComment">
				Comentar
			</div> <!-- /.link -->
		</div> <!-- /.wrap-actions -->
		
		<!-- COMENTARIOS -->
		<div class="extra content wrap-comments" v-if="item.replies || enableComment">
			<comment :comment="comment" v-for="(comment, key) in item.replies" :key="key" />
			<!-- unfold -->
			<div class="new-comment vivify swoopInBottom" v-if="enableComment">
				<new-post :newPost="false" :path="'/'+item.id" @cancelPost="enableComment = false" />
			</div> <!-- /.new-comment -->
		</div> <!-- /.extra.content -->
	</div> <!-- /.ui.card -->
</template>

<script>
	import Avatar from 'vue-avatar'
	import React from '~/components/posts/React.vue'
	import Reactions from '~/components/posts/Reactions.vue'
  import Comment from '~/components/posts/Comment.vue'
  import NewPost from '~/components/posts/NewPost.vue'

	export default {
		name: 'PostCard',
		components: {
      Avatar, React, Reactions, Comment, NewPost
    },
		props: {
			item: {
				type: Object,
				default: () => {
					return null
				}
			}
		},
    data () {
			return {
				enableReact: false,
				enableComment: false
			}
		},
		computed: {
			finalReplies () {
				if (this.item) {
					let sufix = ''
					const finalValue = _.toArray(this.item.replies)
					if (finalValue.length === 0 || finalValue.length > 1) {
						sufix = 's'
					}
					return `${finalValue.length} comentario${sufix}`
				} else {
					return 'sin comentarios'
				}
			}
		}
  }
</script>

<style scoped="true">
	/* CONTENEDOR */
	.ui.card {
		margin: 30px 0;
		border-radius: 2px;
	}

	/* AVATAR */
	.label {
		padding: 8px 0;
	}
	
	/* CONTENIDO */
	.user-name {
		font-weight: bold;
	}
	.ui.feed > .event > .content .date {
		margin: 0;
		font-size: .9rem;
		text-transform: capitalize;
	}
	.ui.feed > .event > .content .extra.text {
		max-width: 90%;
	}

	/* ACCIONES */
	.wrap-actions {
		justify-content: flex-start;
		align-items: center;
		margin-top: 5px;
	}
	.wrap-actions.desktop .link {
		padding: 0;
		min-width: 150px;
	}
	.wrap-actions.desktop .link:first-child {
		padding-left: 0;
	}
	.wrap-actions.desktop {
		display: flex;
	}
	.wrap-actions.mobile {
		display: none;
	}
	.wrap-actions .link.active {
		padding: 0;
	}
	.wrap-actions .reactions-trigger {
		margin: 10px 0;
	}

	/* ESTADISTICAS */
	.statistics {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		cursor: default;
	}
	.replies-counter {
		width: 50%;
		text-align: right;
	}

	/* COMENTARIOS */
	.wrap-comments {
		background-color: #F4F3F1 !important;
	}
	.new-comment {
		padding: .75em 1em;
	}
	/* Responsive */
	@media (max-width: 767px) {
		/* ACCIONES */
		.wrap-actions.desktop {
			display: none;
		}
		.wrap-actions.mobile {
			display: flex;
			padding: 0 1em;
		}
		.wrap-actions.mobile .link {
			width: 50%;
			padding: 1em 0.5em;
			text-align: center;
		}
		.wrap-actions.mobile .link:first-child {
			border-right: 1px solid #EEE;
		}
	
		/* COMENTARIOS */
		.new-comment {
			padding: .75em 0;
		}
	}
</style>
