<template lang="html">
  <div class="wrap-options">
		<template v-for="(item, key) in options">
			<div :class="['ui circular icon button', getColor(key)]" :key="key" @click="select(key)">
				<i :class="['icon fitted vivify', getIcon(key)]" :title="key" />
			</div> <!-- /.label -->
		</template>
		<i class="times icon vivify popIn delay-1000" @click="$emit('close')" />
	</div> <!-- /.wrap-options -->
</template>

<script>
	export default {
    name: 'React',
		props: {
			id: {
				type: String,
				default: ''
			},
			reactions: {
				type: Object,
				default: () => {
					return null
				}
			}
		},
		data () {
			return {
				options: {
					like: false,
					love: false,
					dislike: false
				}
			}
		},
		methods: {
			select (_item) {
				// Sumar a la interacción correspondiente
				const newValue = this.reactions[_item] + 1
				// Envío a DB
				this.$store.dispatch('newReact', { path: `posts/${this.id}/reactions/${_item}`, newValue: newValue })
				this.$emit('close')
			}
		}
  }
</script>

<style scoped="true">
	/* CONTENEDOR */
	.wrap-options {
		display: flex;
		align-items: center;
		width: 100%;
		margin-left: -5px;
	}
	
	/* BUTTON */
	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: .78571429em .78571429em .78571429em !important;
		border: 2px solid #FFF;
		font-weight: lighter;
		transition: .5s;
	}
	.ui.blue.button,
	.ui.red.button,
	.ui.yellow.button {
		border-color: #FFF !important;		
	}
	.times.icon {
		display: inline-block;
		margin-left: 5px;
	}

	/* Responsive */
	@media (max-width: 767px) {
		.wrap-options {
			margin-left: -8px;
		}
		.times.icon {
			display: inline-block;
			margin-top: -50px;
			margin-left: -2px;
		}
	}
</style>
