<template lang="html">
  <div class="wrap-reactions" @click="showValues = !showValues">
		<template v-for="item in finalReactions">
			<div v-if="item.value" :class="['ui circular label', getColor(item.id), showValues ? 'value' : '']" :key="item.id">
				<div class="text" v-show="showValues" :title="item.id+'s'">
					<i :class="['icon fitted vivify', getIcon(item.id), showValues ? 'value' : '']" /> {{ item.value }}
				</div> <!-- /.text -->
			</div> <!-- /.label -->
		</template>
		<div class="total-reactions link">
			<div v-if="total === 0" class="ui circular label" title="Sin reacciones" />
			<div :class="['total-value vivify', changeValue]">
				{{ total }}
			</div>
		</div> <!-- /.total-reactions -->
	</div> <!-- /.wrap-reactions -->
</template>

<script>
	export default {
    name: 'Reactions',
		props: {
			reactions: {
				type: Object,
				default: () => {
					return null
				}
			}
		},
		data () {
			return {
				showValues: false,
				changeValue: ''
			}
		},
		computed: {
			finalReactions () {
				let finalArray = [
					{ id: 'like', value: 0 },
					{ id: 'love', value: 0 },
					{ id: 'dislike', value: 0 }
				]
				// Ordenar reacciones
				if (this.reactions) {
					return _.forEach(finalArray, (item) => {
						item.value = this.reactions[item.id]
					})
				}
				return finalArray
			},
			total () {
				// Totalizar interacciones
				if (this.reactions) {
					const values = _.map(this.reactions)
					return _.sum(values)
				}
				return 0
			}
		},
		watch: {
			total () {
				// console.log('total')
				this.changeValue = 'spinIn'
				setTimeout(() => this.changeValue = '', 1000)
			}
		}
  }
</script>

<style scoped="true">
	/* CONTENEDOR */
	.wrap-reactions {
		display: flex;
		align-items: center;
		margin: 5px 10px;
		width: 50%;
	}
	.wrap-reactions:hover {
		cursor: pointer;
	}
	
	/* LABEL */
	.circular.label {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -10px !important;
		border: 2px solid #FFF;
		font-weight: lighter;
		transition: .5s;
	}
	.wrap-reactions:hover .circular.label:not(.value) {
		box-shadow: 0 0 5px -1px #000;		
	}
	.wrap-reactions:hover .circular.label:not(.value) {
		box-shadow: 0 0 5px -1px #000;		
	}
	.circular.label.value {
		width: 50px;
		height: 28px;
		margin-left: -3px !important;
	}
	
	
	/* AJUSTES SEMANTIC */
	.ui.circular.label {
		padding: 4px !important;
	}
	.ui.blue.label,
	.ui.red.label,
	.ui.yellow.label {
		border-color: #FFF !important;
	}
	
	/* TOTAL */
	.total-reactions {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 5px;
		font-weight: bold;
	}
	.total-reactions .label {
		margin-right: 5px;
	}
</style>
