<template lang="html">
	<footer>
		<div class="copyright">
			Design by: <a href="https://www.albadan.co/" target="_blank">albadan.co</a>
		</div> <!-- /.copyright -->
	</footer>
</template>

<script>
	export default {
		name: 'AppFooter'
  }
</script>

<style scoped="true">
	footer {
		position: fixed;
    z-index: 10;
		bottom: 	0;
		left: 		0;
		right: 		0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10px 30px;
		background-color: #F8F8F8;
    border-top: 1px solid #DDD;
	}
	/* Responsive */
	@media (max-width: 767px) {
		footer {
			padding: 5px 10px;
		}
	}
</style>
