<template lang="html">
  <header :class="classNav">
    <h1 class="title">
      Domicilios Test
    </h1>
    <div v-if="user" @click="openModal()">
      <div class="user-label vivify swoopInRight">
        <span class="vivify fadeIn text-initial">
          Hola! {{ user ? user.firstName : '' }}
        </span> <!-- /.vivify -->
        <span class="vivify fadeIn text-active">
          Cambiar usuario
        </span> <!-- /.vivify -->
      </div> <!-- /.user-label -->
      <i class="bars icon vivify popIn" />
    </div> <!-- /.user-label -->
  </header>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'AppHeader',
    computed: {
      ...mapGetters({
        user: 'user'
      })
    },
    data () {
      return {
        classNav: ''
      }
    },
    mounted () {
      this.$nuxt.$on('changeNav', (isVisible) => {
        isVisible ? this.classNav = '' : this.classNav = 'scrolling'
      })
    },
    methods: {
      openModal () {
        this.$nuxt.$emit('open-modal')
      }
    }
  }
</script>

<style scoped="true">
  header {
    position: fixed;
    z-index: 10;
		top:      0;
		left: 	  0;
    right:    0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px;
		background-color: #FFF;
    border-bottom: 1px solid #CCC;
    transition: .5s;
  }
  header.scrolling {
		padding: 10px 30px;
  }
  .title {
    margin: 0;
    font-size: 1.5rem;
    color: #000;
  }
  .user-label {
    position: absolute;
    top:    0;
    right:  0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    font-size: 1.2rem;
    color: #888;
		cursor: pointer;
  }
  .user-label .text-initial {
    display: inline-block;
  }
  .user-label .text-active {
    display: none;
  }
  .user-label:hover .text-initial {
    display: none;
  }
  .user-label:hover .text-active {
    display: inline-block;
		color: #00B786;
  }
  .bars.icon {
    display: none;
  }
  @media (max-width: 767px) {
    header {
      padding: 20px 30px;
    }
    .user-label {
      display: none;
    }
    .bars.icon {
      display: block;
      position: absolute;
      top:    22px;
      right:  10px;
      height: 100%;
      padding: 0 30px;
      font-size: 2rem;
      color: #000;
    }
  }
</style>
