<template lang="html">
  <div v-if="loading" class="row">
    <div class="ui container center aligned">
      <h3 class="ui green header center aligned">Cargando</h3>
      <div class="ui active centered inline loader" />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      loading: {
        type: Boolean,
        default: true
      },
    },
    created () {
      // console.log('loading created', this.loading)
    },
    destroyed () {
      // console.log('loading destroyed')
    }
  }
</script>

<style lang="css" scoped>
  .row .ui.container{
    margin: 40px 0;
  }
</style>
