<template lang="html">
  <transition name="modal">
    <div class="modal-mask" @keyup.esc="close">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <i class="close icon" @click="$emit('close')" />
            Cambiar de usuario
          </div> <!-- /.modal-header -->
          <div class="modal-body">
            <div class="change-user" v-if="user">
              <div class="actual-user mt10">
                <i class="check circle icon" />
                {{ user.firstName }} {{ user.lastName }} ·
                <i class="id card icon" />{{ user.document }}
              </div> <!-- /.header -->
              <div class="ui divided very relaxed animated list mt20">
                <template v-for="(item, key, index) in users">
                  <div v-if="item.document !== user.document" :class="['item vivify swoopInBottom', 'delay-'+(index*50)]" :key="item.document" @click="selectUser(item)">
                    <div class="content">
                      <a class="header">
                        <i class="user circle icon" />
                        {{ item.firstName }} {{ item.lastName }} ·
                        <i class="id card icon" />{{ item.document }}
                      </a>
                    </div> <!-- /.content -->
                  </div> <!-- /.item -->
                </template>
              </div> <!-- /.list -->
              <div class="ui container center aligned mt20">
                <button type="button" class="ui right labeled icon black button" @click="$emit('close')">
                  Cerrar
                  <i class="check icon" />
                </button>
              </div> <!-- /.container -->
            </div> <!-- /.change-user -->
          </div> <!-- /.modal-body -->
        </div> <!-- /.modal-container -->
      </div> <!-- /.modal-wrapper -->
    </div> <!-- /.modal-mask -->
  </transition>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'Modal',
    data () {
      return {
        showModal: false
      }
    },
    computed: {
      ...mapGetters({
        user: 'user',
        users: 'users'
      })
    },
    created () {
      // console.log('modal created')
    },
    mounted () {
      window.addEventListener('keyup', this.close)
      window.addEventListener('click', this.clickOnWrapper)
    },
    destroyed () {
      // console.log('modal destroyed')
    },
    methods: {
      close (e) {
        // console.log('e', e)
        if (e.keyCode === 27) {
          this.$emit('close')
        }
      },
      clickOnWrapper (e) {
        const classObj = _.head(e.path).getAttribute('class')
        // console.log('e', classObj)
        if (classObj === 'modal-wrapper') {
          this.$emit('close')
        }
      },
      selectUser (_item) {
        this.$store.dispatch('setUser', _item )
			}
    }
  }
</script>

<style lang="css" scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: table;
    transition: opacity .3s ease;
  }
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .modal-container {
    max-width: 400px;
    max-height: calc(100vh - 20px);
    overflow: hidden;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
  }
  .modal-header {
    position: relative;
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .modal-header .close.icon {
    position: absolute;
    top:   -5px;
    right: -10px;
    cursor: pointer;
  }
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  /*
  * The following styles are auto-applied to elements with
  * transition="modal" when their visibility is toggled
  * by Vue.js.
  *
  * You can easily play with the modal transition by editing
  * these styles.
  */
  .modal-enter {
    opacity: 0;
  }
  .modal-leave-active {
    opacity: 0;
  }
  .modal-enter .modal-container, .modal-leave-active .modal-container {
    transform: scale(1.1);
  }
  @media (max-width: 767px) {
    .modal-container {
      max-width: 85%;
    }
  }
  @media (max-width: 500px) {
    .modal-container {
      margin: 10px auto;
      padding: 10px 20px;
    }
  }
  @media (max-width: 375px) {
    .modal-container {
      padding: 10px;
    }
  }
</style>
