/*------------------------------------*\
	AJUSTES SEMANTIC UI
\*------------------------------------*/

html, body, .ui.header, .ui.button, .ui.container, .ui.container, .ui.modal > .header, h1, h2, h3, h4, h5, p {
	font-family: Arial;
}
.ui.button:not(.inverted) {
	padding: 0.7em 2.5em;
	font-weight: lighter;
	color: #EEE !important;
}
.ui.button:hover {
	color: #FFF !important;
}

/*------------------------------------*\
	ESTILOS GENERALES 
\*------------------------------------*/

.link {
	color: #00B786 !important;
	cursor: pointer;
	transition: .5s;
}
.link:hover {
	color: #106140 !important;
}


/*------------------------------------*\
	MODELO DE CAJA
\*------------------------------------*/

/* Relleno */
.pt0 {
	padding: 0px !important;
}
.pt5 {
	padding-top: 5px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pb0 {
	padding-bottom: 0px !important;
}
.pb5 {
	padding-bottom: 5px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
/* Márgenes */
.mt0 {
	margin-top: 0px !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mb0 {
	margin-bottom: 0px !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mr0 {
	margin-right: 0px !important;
}
.mr5 {
	margin-right: 5px !important;
}
.mr10 {
	margin-right: 10px !important;
}
.mr20 {
	margin-right: 20px !important;
}
.ml0 {
	margin-left: 0px !important;
}
.ml5 {
	margin-left: 5px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml20 {
	margin-left: 20px !important;
}