<template lang="html">
  <div>
    <app-header />
    <main>
      <nuxt />
    </main>
    <app-footer />
  </div>
</template>

<script>
  import AppHeader from '~/components/layout/AppHeader.vue'
  import AppFooter from '~/components/layout/AppFooter.vue'

  export default {
    name: 'DefaultLayout',
    components: {
      AppHeader, AppFooter
    }
  }
</script>

<style>
  body {
    background-color: #F3F2F2;
  }
  main {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
  }
  @media (max-width: 767px) {
    main {
      margin-top: 60px;
    }
  }
</style>
