<template>
  <div class="ui container error center aligned">
    <div class="ui centered container middle aligned wrap">
      <template v-if="error.statusCode === 404">
        <h2 style="margin-top: 0;">Recurso o página no encontrada</h2>
      </template>
      <template v-else>
        <h2 style="margin-top: 0;">Ocurrió un error inesperado</h2>
      </template>
      <img src="~assets/imgs/blank_canvas.svg" alt="Imagen de apoyo" />
      <h4 class="ui horizontal divider green header">
        Domicilios
      </h4>
      <p>Puedes continuar la navegación con el siguiente enlace</p>
      <p>
        <nuxt-link to="/">
          <i class="home icon"/>Inicio
        </nuxt-link>
      </p>
    </div>
  </div> <!-- /.container -->
</template>

<script>
  export default {
    name: 'ErrorPage',
    head () {
      return {
        title: 'Recurso no encontrado'
      }
    },
    props: {
      error: {
        type: Object,
        default: null
      }
    }
  }
</script>

<style lang="css">
  main {
    min-height: 100px !important;
  }
  .container.error {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 0 0;
  }
  img {
    max-width: 320px;
    margin: 10px auto;
  }
</style>
