<template lang="html">
  <div class="ui container">
    <loading v-if="loading" />
    <template v-else>
      <new-post :newPost="true" v-observe-visibility="changeNav" />
      <div class="wrap-posts">
        <post-card v-for="(item, key) in posts" :key="key" :item="item" />
      </div>
    </template>
    <modal v-if="showModal" @close="showModal = false" />
  </div> <!-- /.ui.container -->
</template>

<script>
  import Loading from '~/components/utilities/Loading.vue'
  import Modal from '~/components/utilities/Modal.vue'
  import NewPost from '~/components/posts/NewPost.vue'
  import PostCard from '~/components/posts/PostCard.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'Index',
    head () {
      return {
        title: 'Domicilios Test',
        meta: [
          { hid: 'description', name: 'description', content: 'Prueba técnica frontend Merqueo' }
        ]
      }
    },
    components: {
      Loading, Modal, NewPost, PostCard
    },
    data () {
      return {
        showModal: false
      }
    },
    computed: {
      ...mapGetters({
        user: 'user',
        users: 'users',
        posts: 'posts'
      }),
      loading () {
        if (this.users && this.users && this.posts) {
          return false
        }
        return true
      }
    },
    mounted () {
      this.$nuxt.$on('open-modal', () => {
        console.log('open-modal in index')
        this.showModal = true
      })
    },
    methods: {
      changeNav (isVisible, entry) {
        // console.log('changeNav in index', isVisible)
        this.$nuxt.$emit('changeNav', isVisible)
      }
    }
  }
</script>

<style scoped="true">
  .ui.container {
    padding: 30px 20px 40px 20px;
  }
  /* Responsive */
  @media (max-width: 767px) {
    .ui.container {
      padding: 30px 0 40px 0;
    }
  }
</style>
